{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'eventBlog/css/base_style.css' %}">

    <script>
    {% block script%}
    {% endblock %}
    </script>

    {% block head %}
    {% endblock %}

  </head>
  <body style="background-color: #d6daf2;">

   <div class="container bar-nav" style="max-width: 9600px; margin-left: 0px; margin-right: 0px; background-color: #535c94; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); position: fixed;">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'main' %}" class="nav-link active" aria-current="page" style="background-color: #ffffff; color: #535c94">Home</a></li>
        <li class="nav-item"><a href="{% url 'faqs and contacts' %}#faq" class="nav-link nav-btn" style="color: #ffffff;">FAQs</a></li>
        <li class="nav-item"><a href="{% url 'faqs and contacts' %}#contacts" class="nav-link nav-btn" style="color: #ffffff;">About</a></li>
        {% if user.is_authenticated %}
          {% if user.userprofile.registered %}
          <li class="nav-item"><a href="{% url 'my page' %}" class="nav-link active" aria-current="page" style="background-color: #ffffff; color: #535c94;">My page</a></li>
          {% else %}
          <li class="nav-item"><a href="{% url 'registration' %}" class="nav-link active" aria-current="page" style="background-color: #ffffff; color: #535c94;;">Registration</a></li>
          {% endif %}
        {% else %}
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" style="background-color: #ffffff; color: #535c94;">Login</a></li>
        {% endif %}
      </ul>
    </header>
  </div>
  <div class="container main-body"></div>
      {% block content %}
      {% endblock %}
  </body>
</html>