{% extends 'eventBlog/base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'eventBlog/css/event_style.css' %}">

{% endblock %}

{% block content %}

<div class="body-container">
    <div class="poster">
        <img src="{{MEDIA_URL}}{{ event.poster }}" alt="{{ event.title }} Poster" style="max-width: 100%;">
    </div>
    <div class="title">
        <h2>{{ event.title }}</h2>
    </div>
    <div class="description">
        <h5><i>{{ event.type }}</i></h5>
        <p>{{ event.description }}</p>
    </div>
    <div class="info">
        <ul style="list-style: none;">
            <li><b>Date:</b> {{ event.date }}</li>
            <li><b>Price:</b> {{ event.price }} KZT</li>
            <li><b>Location:</b> {{ event.place }}</li>
            <li><b>Phone:</b> {{ event.phone}}</li>
            <li><b>More info:</b> <a href="{{ event.url }}">{{ event.url }}</a></li>
        </ul>
        <div class="menu">
            <div class="menu-item">
                <p>Location: {{ event.place }}</p>
            </div>
            <div class="menu-item">
                <p>Time: {{ event.time }}</p>
            </div>
            <div class="menu-item">
                <p>Price: {{ event.price }} KZT</p>
            </div>
            <div class="menu-item">
                <p>Available Seats: {{ diff }} / {{event.seats_available}}</p>
            </div>
            {% if diff == 0 %}
            <button class="register-btn" style="pointer-events: none;">No Available Seats</button>
            {% else %}
            <button id="registerBtn" class="register-btn">Register</button>
            {% endif %}
        </div>
    </div>
    <br>
    <div class="info">Posted on: {{ event.posted_on }}</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    {% if user.is_authenticated %}
      {% if user.userprofile.registered %}
        <h2>Registration Form</h2>
        <form id="registrationForm" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" form="registrationForm">Submit</button>
        </form>
      {% else %}
        <h2>Please, Register first</h2>
      <br>
        <p>You can do this by following navigation bar button "Register"</p>
      {% endif %}
    {% else %}
      <h2>Please, Login first</h2>
      <br>
      <p>You can do this by following navigation bar button "Login"</p>
    {% endif %}
  </div>

</div>

<script>
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("registerBtn");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function() {
        modal.style.display = "block";
    }

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

{% endblock %}