{% extends 'eventBlog\base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'eventBlog/css/index_style.css' %}">
{% endblock %}

{% block content %}
{% if events %}
<div class="grid-container">
  {% for event in events %}
  <div class="box">
    <a href="{% url 'details' event.id %}" target="_blank">
      <img src="{{ MEDIA_URL }}{{ event.resized_poster }}" alt="{{ event.title }} poster">
      <h3 class="title">{{ event.title }}</h3>
      <h5 class="date">{{ event.date }}</h5>
    </a>
  </div>
  {% endfor %}
</div>
{% else %}
<div style="text-align: center;">
<img src="{% static 'eventBlog/img/NONE.jpg' %}" alt="SORRY! NO POSTS YET :(" style="max-width: 40%;">
</div>
{% endif %}
{% endblock %}
